
    <footer class="p-strip--light is-deep">
      <div class="row p-content__row">
        <div class="col-8 u-align-text--center">
          <p class="p-heading--4">{{ context.desc }}</p>
          <nav aria-label="footer">
            <ul class="p-inline-list--middot">
              <li class="p-inline-list__item">
                <a href="{{ url_for('app_route_update') }}" target="_blank">Atualizações futuras</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
