
    <a href="#main-content" class="p-link--skip" id="go-to-main-content">pule para o conteúdo principal</a>
    <header class="p-navigation is-dark is-sticky" id="navigation">
      <div class="p-navigation__row">
        <div class="p-navigation__banner">
          <div class="p-navigation__logo">
            <a class="p-navigation__item" href="{{ url_for('app_route_home') }}">
              <img class="p-navigation__image" alt="logo e página inicial" style="height: 1.5rem;" src="{{ context.icon }}" />
            </a>
          </div>
          <a class="p-navigation__toggle--open" title="Exibir o menu" href="#navigation">Menu</a>
          <a class="p-navigation__toggle--close" title="Fechar o menu" href="#navigation-closed">Fechar</a>
        </div>
        <nav class="p-navigation__nav" aria-label="Menu">
          <ul class="p-navigation__items">
            <li class="p-navigation__item{% if request.path == '/' %} is-selected{% endif %}">
              <a class="p-navigation__link" href="{{ url_for('app_route_home') }}">Página inicial</a>
            </li>
            <li class="p-navigation__item{% if request.path == '/gallery' %} is-selected{% endif %}">
              <a class="p-navigation__link" href="{{ url_for('app_route_gallery') }}">Galeria</a>
            </li>
            <li class="p-navigation__item{% if request.path == '/about' %} is-selected{% endif %}">
              <a class="p-navigation__link" href="{{ url_for('app_route_about') }}">Sobre</a>
            </li>
          </ul>
          <ul class="p-navigation__items">
            {% if request.path == '/comming-soon' %}
            <li class="p-navigation__item is-selected">
              <a class="p-navigation__link">Atualizações</a>
            </li>
            {% endif %}
            <li class="p-navigation__item">
              <a class="p-navigation__link" target="_blank" href="https://wa.me/55{{ context.o_phone }}">WhatsApp</a>
            </li>
            <li class="p-navigation__item">
              <a class="p-navigation__link" target="_blank" href="tel:55{{ context.o_phone }}">Telefone</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
