
    <meta property="og:description" content="{{ context.desc }}" />
    <meta property="og:determiner" content="auto" />
    <meta property="og:image" content="https://ik.imagekit.io/czdfjw711v/755f56a0/tr:w-1920/home_banner_MNcNzYprN.webp" />
    <meta property="og:language" content="{{ context.lcode }}" />
    <meta property="og:site_name" content="{{ context.name }}" />
    <meta property="og:title" content="{{ context.title }}.{{ context.name }}" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{ context.desc }}" />
    <meta name="twitter:image" content="https://ik.imagekit.io/czdfjw711v/755f56a0/tr:w-1920/home_banner_MNcNzYprN.webp" />
