$url_a: 'https://ik.imagekit.io/czdfjw711v/755f56a0';
$url_img: 'home_banner_MNcNzYprN.webp';

$ba: 620px;
$bb: 1036px;

$c: rgb(242, 242, 247);
$d: #141823;


.baf-banner {
    background-image: url('#{$url_a}/tr:w-1024/#{$url_img}');
    background-position-x: 80%;
    background-position-y: bottom;

    box-shadow: inset 0 -11px 15px -7px rgba($d, 0.2), inset 0 -24px 38px 3px rgba($d, 0.14), inset 0 -9px 46px 8px rgba($d, 0.12);

    @media screen and (min-width: $ba) {
        background-image: url('#{$url_a}/tr:w-2048/#{$url_img}');
    }

    @media screen and (min-width: $bb) {
        background-image: url('#{$url_a}/tr:w-4096/#{$url_img}');
        background-position-y: 70%;
    }

    h1,
    h2 {
        font-style: italic;
        font-weight: bolder;
    }

    .p-card--overlay {
        background-color: transparent;
        background-image: linear-gradient(152deg, rgba($c, 1), rgba($c, 0) 50%);
        backdrop-filter: blur(5px);
        border-radius: 1rem;
        margin-bottom: 18rem;
        margin-top: -1rem;

        @media screen and (min-width: $ba) {
            margin-bottom: 8rem;
        }

        @media screen and (min-width: $bb) {
            background-image: none;
            backdrop-filter: unset;
        }
    }
}
