{% extends 'layouts/app.html' %}
{% block content %}
<div class="p-strip">
  <div class="row">
    <div class="col-6 col-medium-6 u-vertically-center u-align--center">
      <img src="https://assets.ubuntu.com/v1/03c7318e-image-404.svg" alt="Page not found" width="256" height="259">
    </div>
    <div class="col-6 col-medium-3 u-vertically-center">
      <div>
        <h1>Página não encontrada</h1>
        <p class="p-heading--4">Desculpe, eu não consegui encontrar essa paǵina.</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
