{% extends 'layouts/app.html' %}
{% block content %}
<section class="p-strip--accent is-deep is-bordered" id="main-content">
    <div class="row">
        <div class="col-8">
            <p class="p-heading--4">A Bússola assessoria familiar em dependência química e alcoólica, nasce da vontade de ajudar pessoas e famílias, direcionando e encaminhando o dependente químico/alcoólico para o melhor tratamento.</p>
        </div>
    </div>
</section>

<section class="p-strip is-deep">
    <div class="row">
        <div class="col-8">
            <p class="p-heading--2">Marcelo Paulino da Silva (CRTH-BR 12699)</p>
            <p class="p-heading--3"><em>Certificados de Capacitação</em></p>
            <ul class="p-list">
                <li class="p-list__item is-ticked">Formação em Terapeuta</li>
                <li class="p-list__item is-ticked">Papel das Comunidades Terapêuticas</li>
                <li class="p-list__item is-ticked"><strong>Intervenção para o Tratamento da Dependência Química</strong></li>
                <li class="p-list__item is-ticked"><strong>Recaída - Conceituação, Manejo e Prevenção</strong></li>
                <li class="p-list__item is-ticked"><strong>Aconselhamento em Dependência Química</strong></li>
                <li class="p-list__item is-ticked">Dependência Química, Conhecimentos Atualizados e Diversas Abordagens Incluindo a Psicanálise</li>
                <li class="p-list__item is-ticked">Capacitação para Profissionais, Monitores e Coordenadores de Comunidades Terapêuticas</li>
            </ul>
        </div>
    </div>
</section>
{% endblock content %}
