{% extends 'layouts/app.html' %}
{% block content %}
    <section class="p-strip--image is-deep baf-banner">
      <div class="row">
        <div class="col-small-3 col-medium-3">
          <div class="p-card--overlay">
            <h1 class="p-heading--2 u-hide--large u-align-text--center">Bússola</h1>
            <hr class="u-hide--large" />
            <h2 class="p-heading--3 u-hide--large u-align-text--center">Dando um norte na dependência</h2>
            <h1 class="u-hide--small u-hide--medium">Bússola</h1>
            <h2 class="u-hide--small u-hide--medium">Dando um norte na dependência</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="p-strip--suru is-bordered" id="main-content">
      <div class="row u-vertically-center u-align-text--center">
        <div class="col-6">
          <h1>Assessoria Familiar em dependência química e alcoólica</h1>
          <h2 class="p-heading--4">Você pode ligar e/ou mandar mensagem pelo WhatsApp</h2>
          <ul class="p-inline--list">
            <li class="p-inline-list__item"><a href="https://wa.me/5511932983760" class="p-button--positive" target="_blank">Whatsapp</a></li>
            <li class="p-inline-list__item"><a href="tel:5511932983760" class="p-button" target="_blank">(11) 9 3298 3760</a></li>
          </ul>
        </div>
        <div class="col-6">
          <h1><strong>Fazemos remoção 24 horas em todo o território nacional</strong></h1>
        </div>
      </div>
    </section>
    <span class="u-sv3 u-hide u-show--small"></span>
    <section class="p-strip is-bordered is-deep">
      <div class="row">
        <div class="col-4">
          <div class="p-heading-icon">
            <div class="p-heading-icon__header is-stacked">
              <h2 class="p-heading-icon__title"><em>Tratamento</em></h2>
            </div>
            <p>Juntos vamos encontrar o melhor <strong>tratamento e acompanhamento</strong> com base nas suas necessidades.</p>
            <p>Clínicas Masculinas, Femininas, Mistas, Voluntárias e Involuntárias</p>
          </div>
        </div>
        <div class="col-4">
          <div class="p-heading-icon">
            <div class="p-heading-icon__header is-stacked">
              <h2 class="p-heading-icon__title"><em>Terapeuta</em></h2>
            </div>
            <p>Converse com o <abbr title="CRTH-BR 12699">Terapeuta Marcelo</abbr>, especializado em <strong>dependência química e alcoólica</strong>.</p>
          </div>
        </div>
        <div class="col-4">
          <div class="p-heading-icon">
            <div class="p-heading-icon__header is-stacked">
              <h2 class="p-heading-icon__title"><em>Contato</em></h2>
            </div>
            <p>Há duas formas de entrar em contato: Whatsapp e Ligação, use a alternativa mais acessível para você.</p>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
