{% extends 'layouts/app.html' %}
{% block content %}

<section class="p-strip--light is-bordered is-deep">
  <div class="row">
    <div class="col-12">
      <h1>Trabalho em progresso atualmente</h1>
      <br />
      <ol class="p-stepped-list">
        <li class="p-stepped-list__item">
          <h3 class="p-stepped-list__title">Fotos na Galeria</h3>
          <p class="p-stepped-list__content">Compactação e adição das fotos de clínicas em Ibiúna para que a página carregue mais rápido</p>
        </li>
      </ol>
    </div>
  </div>
</section>

<section class="p-strip--light is-deep">
  <div class="row">
    <div class="col-12">
      <h1>Próximos passos</h1>
      <br />
      <ol class="p-stepped-list">
        <li class="p-stepped-list__item">
          <h3 class="p-stepped-list__title">Galeria de imagens #1</h3>
          <p class="p-stepped-list__content">Adição das fotos de clínicas em Itapecerica da Serra</p>
        </li>
        <li class="p-stepped-list__item">
          <h3 class="p-stepped-list__title">Galeria de imagens #2</h3>
          <p class="p-stepped-list__content">Adição das fotos de clínicas em Santa Isabel</p>
        </li>
        <li class="p-stepped-list__item">
          <h3 class="p-stepped-list__title">Galeria de imagens #3</h3>
          <p class="p-stepped-list__content">Adição das fotos de clínicas em São Roque</p>
        </li>
      </ol>
    </div>
  </div>
</section>

{% endblock content %}
